aside {
    width: 20%;
    min-width: 220px;
    height: 100vh;
    border-right: 2px solid $colorBlack;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .aside-top {
        width: 80%;
        margin: 10px 0;
        border-top: 2px solid $colorBlack;
        border-bottom: 2px solid $colorBlack;

        h1 {
            border-bottom: 1px solid $colorBlack;
            margin-bottom: 5px;
        }

        h3 {
            margin-bottom: 5px;
        }
    }

    .aside-mid {
        width: 80%;

        h3 {
            text-align: center;
        }

        input {
            width: 100%;
            margin-top: 15px;
            height: 40px;
            font-size: 1.5rem;
        }

        .inp-message {
            text-align: center;
            color: $colorRed;
        }

        .btn-holder {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            margin-bottom: 20px;

            button {
                width: 80px;
                height: 40px;
                letter-spacing: 1px;
                background-color: $colorWhite;
                border: 1px solid $colorBlack;
                border-radius: 6px;
            }
    
            button:hover {
                cursor: pointer;
                background-color: $colorWhiteHover;
            }
        }
    }

    .aside-bot {
        width: 80%;
        border-top: 2px solid $colorBlack;
        border-bottom: 2px solid $colorBlack;
        margin-bottom: 20px;

        h3 {
            margin: 5px 0;
            text-align: center;
        }
    }

    h1 {
        font-size: 3.5rem;
        text-align: center;
    }
}

// will appear on mobile devices (used to show/hide navbar )
#btn-hamburger {
    position: absolute;
    display: none;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    z-index: 1;

    .hamburger-slice {
        background-color: $colorBlack;
        height: 5px;
        width: 30px;
        border-radius: 2px;
        transition: transform 500ms;
    }
}