main {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    #books-container {
        height: 580px;
        background-color: transparent;
        width: 85%;
        display: flex;
        overflow-y: hidden;
        overflow-x: auto;
        align-items: center;
        white-space: nowrap;

        .book {
            height: 400px;
            min-width: 340px;
            margin: 0px 30px;
            background: url("images/closed-book.png") no-repeat;
            background-size: cover;
        }
    }
}