main {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    .books-container {
        height: 580px;
        background-color: transparent;
        width: 85%;
        display: flex;
        overflow-x: auto;
        align-items: center;

        .book {
            height: 400px;
            min-width: 340px;
            max-width: 340px;
            margin: 0px 30px;
            background: url("images/book.jpg") no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;

            h1 {
                flex-wrap: wrap;
                text-align: center;
            }

            h2 {
                margin-bottom: 90px;
                text-align: center;
                color: #313131;
            }

            .options-container {
                display: grid;
                grid-gap: 5px;
                height: 60px;
                width: 150px;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 2fr;

                button {
                    letter-spacing: 1px;
                    background-color: $colorWhite;
                    border-radius: 6px;
                }

                .edit-pages {
                    width: 30px;
                    height: 30px;
                    border: none;
                    font-size: 1.3rem;

                    &:hover {
                        background-color: $colorWhiteHover;
                    }
                }

                .edit-display {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                .option-delete {
                    border: none;
                    width: 60px;
                    height: 60px;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 3;
                    grid-column-end: 4;

                    &:hover {
                        background-color: $colorWhiteHover;
                    }
                }
            }
        }
    }
}