* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

// colors
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorRed: #ff0000;
$colorWhiteHover: #e6e6e6;

@import "aside";
@import "main";

html {
    overflow: hidden; // takes care of bugs while scrolling on mobiles
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: url("images/sky.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

button:hover {
    cursor: pointer;
}

@media (max-width: 1380px) {
    .main-title {
        font-size: 2.8rem;
    }
    #btn-hamburger {
        display: none;
    }
}

// mobile responsivness
@media (max-width: 720px) {

    #btn-hamburger {
        display: flex;
    }

    main {
        width: 100%;
    }
    
    aside {
        position: absolute;
        width: 100%;
        border: none;
        transition: transform 250ms;
        transform: translateY(-100%);
        padding: 0 50px;

        .aside-top, .aside-mid, .aside-bot {
            width: 100%;
        }
    }

    .not-active {
        display: none !important;
    }

    .aside-active {
        display: flex;
        transform: translateX(0);
    }

    // hamburger slices animations
    .slice-1-active {
        transform: translateY(13px) rotate(405deg);
    }

    .slice-2-active {
        display: none;
    }

    .slice-3-active {
        transform: translateY(-12px) rotate(-405deg);
    }
}