* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@import "aside";
@import "main";

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: url("images/sky.jpg") no-repeat center center fixed;
    background-size: cover;
}

button:hover {
    cursor: pointer;
}

@media all and (max-width: 1380px) {
    .main-title {
        font-size: 2.8rem;
    }
}